
<%- include('templates/header') %>

<%- include('templates/nav') %>   
    <main>

        <h1>PRODUCTOS desde VIEWS</h1>
        
        <section> 
            <% if (productos.length > 0) { %>
                <% productos.forEach(({producto, disponible, descripcion}) => { %>
                    
                        <article>
                            <h2><%= producto %></h2>
                            <p><%= descripcion %></p>
                        </article>
                        
                               
                <% }) %>
                <% } else { %>
                     <p>no hay productos disponibles</p>
            <% } %>
        </section>

    </main>

<%- include('templates/footer') %>